 <section class="result-slider page-width">
  <div class="result-slider__body">
    <div class="result-slider__wrapper">
      <div class="swiper result-slider__swiper result-slider__swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="result-slider__slide">
              <div class="result-slider__slide-image">
              <img src="{{ 'result-1.png' | asset_url }}" width="710" height="550" loading="lazy"> 
              </div>
              <div class="result-slider__slide-content">
                <div class="result-slider__slide-content-top">
                  <div class="result-slider__slide-author">
                    <div class="result-slider__slide-name">
                      <span class="country">
                        <img src="{{ 'usa.png' | asset_url }}" width="25" height="25">
                      </span>
                      <p>Emma -</p>
                    </div>

                    <div class="result-slider__slide-verified">
                      <span class="verified-icon">
                        <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <mask id="mask0_98_385" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="17" height="16">
                          <path d="M8.2674 15.1034C9.2006 15.1046 10.125 14.9213 10.9872 14.5642C11.8493 14.2071 12.6324 13.683 13.2915 13.0222C13.9523 12.3632 14.4763 11.58 14.8335 10.7178C15.1906 9.85564 15.3738 8.93139 15.3727 7.99811C15.3738 7.06486 15.1906 6.14057 14.8335 5.27836C14.4763 4.41615 13.9523 3.63302 13.2915 2.97397C12.6324 2.31319 11.8493 1.78916 10.9872 1.43201C10.125 1.07486 9.2006 0.891625 8.2674 0.892828C7.33415 0.891644 6.40985 1.07488 5.54764 1.43204C4.68544 1.78919 3.9023 2.3132 3.24326 2.97397C2.58249 3.63302 2.05848 4.41615 1.70132 5.27836C1.34417 6.14057 1.16093 7.06486 1.16212 7.99811C1.16091 8.93139 1.34414 9.85564 1.7013 10.7178C2.05845 11.58 2.58248 12.3632 3.24326 13.0222C3.9023 13.683 4.68544 14.207 5.54764 14.5642C6.40985 14.9213 7.33415 15.1045 8.2674 15.1034Z" fill="white" stroke="white" stroke-width="1.42105" stroke-linejoin="round"/>
                          <path d="M5.42578 7.99803L7.55736 10.1297L11.8205 5.86646" stroke="#66645E" stroke-width="1.42105" stroke-linecap="round" stroke-linejoin="round"/>
                          </mask>
                          <g mask="url(#mask0_98_385)">
                          <path d="M-0.258789 -0.526367H16.7939V16.5263H-0.258789V-0.526367Z" fill="#5CB8B2"/>
                          </g>
                        </svg>
                      </span>
                      <p>Verified buyer</p>
                    </div>
                  </div>

                  <div class="result-slider__slide-increase">
                    <div class="result-slider__slide-percent">25%</div>
                    <div class="result-slider__slide-increase-text">
                      <p>Volume increase after 6 weeks</p>
                    </div>
                  </div>

                  <h3 class="result-slider__slide-title section-title-volufiline">In clinical studies, users reported:</h3>
                </div>

                <ul class="result-slider__list">
                  <li class="result-slider__item">
                    <span class="result-slider__item-precent">96%</span>
                    <p>SAW NOTICEABLY PLUMPER, MORE YOUTHFUL LOOKING SKIN</p>
                  </li>

                  <li class="result-slider__item">
                    <span class="result-slider__item-precent">92%</span>
                    <p>SAW A VISIBLE REDUCTION IN FINE LINES AND WRINKLES</p>
                  </li>

                  <li class="result-slider__item">
                    <span class="result-slider__item-precent">89%</span>
                    <p>SAW A NOTICEABLE REDUCTION IN UNDER-EYE BAGS</p>
                  </li>
                </ul>

                <p class="result-slider__bottom-text">
                  <span>In a clinical evaluation</span> , 25 out of 25 participants showed measurable improvements in skin volume and texture after daily application of Volufiline for 4 weeks.
                </p>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="result-slider__slide">
              <div class="result-slider__slide-image">
                <img src="{{ 'result-2.png' | asset_url }}" width="710" height="550" loading="lazy"> 
              </div>
              <div class="result-slider__slide-content">
                <div class="result-slider__slide-content-top">
                  <div class="result-slider__slide-author">
                    <div class="result-slider__slide-name">
                      <span class="country">
                        <img src="{{ 'usa.png' | asset_url }}" width="25" height="25">
                      </span>
                      <p>Amanda -</p>
                    </div>

                    <div class="result-slider__slide-verified">
                      <span class="verified-icon">
                        <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <mask id="mask0_98_385" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="17" height="16">
                          <path d="M8.2674 15.1034C9.2006 15.1046 10.125 14.9213 10.9872 14.5642C11.8493 14.2071 12.6324 13.683 13.2915 13.0222C13.9523 12.3632 14.4763 11.58 14.8335 10.7178C15.1906 9.85564 15.3738 8.93139 15.3727 7.99811C15.3738 7.06486 15.1906 6.14057 14.8335 5.27836C14.4763 4.41615 13.9523 3.63302 13.2915 2.97397C12.6324 2.31319 11.8493 1.78916 10.9872 1.43201C10.125 1.07486 9.2006 0.891625 8.2674 0.892828C7.33415 0.891644 6.40985 1.07488 5.54764 1.43204C4.68544 1.78919 3.9023 2.3132 3.24326 2.97397C2.58249 3.63302 2.05848 4.41615 1.70132 5.27836C1.34417 6.14057 1.16093 7.06486 1.16212 7.99811C1.16091 8.93139 1.34414 9.85564 1.7013 10.7178C2.05845 11.58 2.58248 12.3632 3.24326 13.0222C3.9023 13.683 4.68544 14.207 5.54764 14.5642C6.40985 14.9213 7.33415 15.1045 8.2674 15.1034Z" fill="white" stroke="white" stroke-width="1.42105" stroke-linejoin="round"/>
                          <path d="M5.42578 7.99803L7.55736 10.1297L11.8205 5.86646" stroke="#66645E" stroke-width="1.42105" stroke-linecap="round" stroke-linejoin="round"/>
                          </mask>
                          <g mask="url(#mask0_98_385)">
                          <path d="M-0.258789 -0.526367H16.7939V16.5263H-0.258789V-0.526367Z" fill="#5CB8B2"/>
                          </g>
                        </svg>
                      </span>
                      <p>Verified buyer</p>
                    </div>
                  </div>

                  <div class="result-slider__slide-increase">
                    <div class="result-slider__slide-percent">31%</div>
                    <div class="result-slider__slide-increase-text">
                      <p>Volume increase after 6 weeks</p>
                    </div>
                  </div>

                  <h3 class="result-slider__slide-title">In clinical studies, users reported:</h3>
                </div>

                <ul class="result-slider__list">
                  <li class="result-slider__item">
                    <span class="result-slider__item-precent">96%</span>
                    <p>AGREED HAIRLINE LOOKED FULLER AND STRONGER*</p>
                  </li>

                  <li class="result-slider__item">
                    <span class="result-slider__item-precent">92%</span>
                    <p>AGREED HAIR FELT HEALTHIER AND LESS SHEDDING OCCURRED*</p>
                  </li>

                  <li class="result-slider__item">
                    <span class="result-slider__item-precent">89%</span>
                    <p>AGREED THEIR PART LINE APPEARED VISIBLY THICKER*</p>
                  </li>
                </ul>

                 <p class="result-slider__bottom-text">
                  <span>In a clinical evaluation</span> , 25 out of 25 participants showed measurable improvements in skin volume and texture after daily application of Volufiline for 4 weeks.
                </p>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="result-slider__slide">
              <div class="result-slider__slide-image">
                <img src="{{ 'result-3.png' | asset_url }}" width="710" height="550" loading="lazy"> 
              </div>
              <div class="result-slider__slide-content">
                <div class="result-slider__slide-content-top">
                  <div class="result-slider__slide-author">
                    <div class="result-slider__slide-name">
                      <span class="country">
                        <img src="{{ 'usa.png' | asset_url }}" width="25" height="25">
                      </span>
                      <p>Sarah -</p>
                    </div>

                    <div class="result-slider__slide-verified">
                      <span class="verified-icon">
                        <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <mask id="mask0_98_385" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="0" y="0" width="17" height="16">
                          <path d="M8.2674 15.1034C9.2006 15.1046 10.125 14.9213 10.9872 14.5642C11.8493 14.2071 12.6324 13.683 13.2915 13.0222C13.9523 12.3632 14.4763 11.58 14.8335 10.7178C15.1906 9.85564 15.3738 8.93139 15.3727 7.99811C15.3738 7.06486 15.1906 6.14057 14.8335 5.27836C14.4763 4.41615 13.9523 3.63302 13.2915 2.97397C12.6324 2.31319 11.8493 1.78916 10.9872 1.43201C10.125 1.07486 9.2006 0.891625 8.2674 0.892828C7.33415 0.891644 6.40985 1.07488 5.54764 1.43204C4.68544 1.78919 3.9023 2.3132 3.24326 2.97397C2.58249 3.63302 2.05848 4.41615 1.70132 5.27836C1.34417 6.14057 1.16093 7.06486 1.16212 7.99811C1.16091 8.93139 1.34414 9.85564 1.7013 10.7178C2.05845 11.58 2.58248 12.3632 3.24326 13.0222C3.9023 13.683 4.68544 14.207 5.54764 14.5642C6.40985 14.9213 7.33415 15.1045 8.2674 15.1034Z" fill="white" stroke="white" stroke-width="1.42105" stroke-linejoin="round"/>
                          <path d="M5.42578 7.99803L7.55736 10.1297L11.8205 5.86646" stroke="#66645E" stroke-width="1.42105" stroke-linecap="round" stroke-linejoin="round"/>
                          </mask>
                          <g mask="url(#mask0_98_385)">
                          <path d="M-0.258789 -0.526367H16.7939V16.5263H-0.258789V-0.526367Z" fill="#5CB8B2"/>
                          </g>
                        </svg>
                      </span>
                      <p>Verified buyer</p>
                    </div>
                  </div>

                  <div class="result-slider__slide-increase">
                    <div class="result-slider__slide-percent">33%</div>
                    <div class="result-slider__slide-increase-text">
                     <p>Volume increase after 6 weeks</p>
                    </div>
                  </div>

                  <h3 class="result-slider__slide-title">In clinical studies, users reported:</h3>
                </div>

                <ul class="result-slider__list">
                  <li class="result-slider__item">
                    <span class="result-slider__item-precent">96%</span>
                    <p>AGREED HAIRLINE LOOKED FULLER AND STRONGER*</p>
                  </li>

                  <li class="result-slider__item">
                    <span class="result-slider__item-precent">92%</span>
                    <p>AGREED HAIR FELT HEALTHIER AND LESS SHEDDING OCCURRED*</p>
                  </li>

                  <li class="result-slider__item">
                    <span class="result-slider__item-precent">89%</span>
                    <p>AGREED THEIR PART LINE APPEARED VISIBLY THICKER*</p>
                  </li>
                </ul>

                 <p class="result-slider__bottom-text">
                  <span>In a clinical evaluation</span> , 25 out of 25 participants showed measurable improvements in skin volume and texture after daily application of Volufiline for 4 weeks.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="result-slider__navigation-btns before-after-slider__btns">
          <div class="volufiline-swiper-button-prev before-after-slider__btn">
            <svg width="26" height="21" viewBox="0 0 26 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M24.875 10.5L1.125 10.5M1.125 10.5L10.0312 20M1.125 10.5L10.0312 1" stroke="#66645E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>

          <div class="result-slider__pagination"></div>

          <div class="volufiline-swiper-button-next before-after-slider__btn">
            <svg width="26" height="21" viewBox="0 0 26 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.125 10.5L24.875 10.5M24.875 10.5L15.9688 1M24.875 10.5L15.9688 20" stroke="#66645E" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const swiperResult = new Swiper('.result-slider__swiper', {
      spaceBetween: 20,
      slidesPerView: 1,
      speed: 800,

      navigation: {
        nextEl: '.volufiline-swiper-button-next',
        prevEl: '.volufiline-swiper-button-prev',
      },
      pagination: {
        el: '.result-slider__pagination',
        clickable: true,
      },
    });
  });
</script>

{% schema %}
{
  "name": "Result Slider",
  "settings": [],
  "presets": [
    {
      "name": "Result Slider"
    }
  ]
}
{% endschema %}
