{{ 'banner-volufiline.css' | asset_url | stylesheet_tag }}

<section class="banner-volufiline-image page-width">
  <div class="banner-volufiline-image__wrapper">
    <div class="banner-volufiline-image__blur">
      <span></span>
    </div>

    <div class="banner-volufiline-image-content">
      <div class="banner-volufiline-image-logo">
        <svg width="567" height="101" viewBox="0 0 567 101" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M114.353 100.143C110.352 99.7811 106.577 98.781 103.132 97.143C94.1029 92.8496 87.8398 84.7629 85.4912 74.383C83.8558 67.1584 83.8558 58.0716 85.5086 51.1229C86.709 46.0536 88.6923 41.7775 91.6673 37.8462C92.9199 36.1737 96.295 32.8114 97.9999 31.5183C104.594 26.5524 112.614 24.3626 121.312 25.173C129.176 25.9145 135.996 29.1905 141.58 34.9323C144.294 37.7255 145.93 40.0705 147.687 43.7087C150.157 48.8469 151.288 54.0541 151.445 61.227C151.601 68.1412 150.888 73.4864 149.061 78.7281C148.278 80.9696 146.104 85.194 144.764 87.0734C143.251 89.177 139.371 93.0221 137.231 94.5222C135.248 95.9188 131.333 97.8844 129.054 98.6259C124.67 100.04 119.329 100.591 114.353 100.143ZM121.504 84.1594C127.262 82.9869 131.368 78.5556 133.125 71.6414C134.395 66.6411 134.447 58.9337 133.23 54.1403C131.89 48.8297 128.933 44.6053 125.053 42.45C121.156 40.2947 115.189 40.2084 111.083 42.2603C105.951 44.8122 102.993 49.6573 101.967 57.1405C101.636 59.6234 101.601 65.3652 101.897 67.6757C102.628 73.2277 104.228 77.1073 106.96 80.073C109.099 82.3662 111.274 83.5042 115.223 84.3663C116.232 84.5905 120.025 84.4698 121.504 84.1594Z" fill="white"/>
          <path d="M224.131 100.162C217.937 99.662 213.188 97.7136 209.761 94.2824C206.194 90.7304 203.985 85.9715 202.871 79.4884C202.593 77.8159 202.558 75.6778 202.523 52.297L202.454 26.8989H211.257H220.042V49.5727C220.042 72.3845 220.095 74.3329 220.669 76.6434C221.904 81.5057 225.401 83.6438 231.786 83.4024C234.5 83.299 236.379 82.9196 238.205 82.092C241.111 80.7816 243.094 78.8159 244.068 76.2296C245.06 73.5742 244.99 75.3847 245.095 50.1762L245.182 26.9851H253.967H262.753L262.805 62.6425L262.84 98.2826H254.402H245.965V94.7997V91.3167L244.19 93.1961C241.285 96.248 238.605 97.9723 234.969 99.1275C231.803 100.128 228.028 100.49 224.131 100.162Z" fill="white"/>
          <path d="M531.805 100.179C523.089 99.3681 515.852 95.6438 510.441 89.2296C504.195 81.8153 501.255 71.6768 501.899 59.6243C502.456 49.003 505.657 40.8128 511.711 34.5193C516.182 29.8639 520.984 27.1568 527.125 25.8119C532.918 24.5359 539.616 24.8291 545.114 26.5706C547.271 27.2602 550.873 29.0879 552.856 30.4673C556.144 32.8123 559.658 36.7091 561.729 40.3473C565.086 46.2614 566.635 52.7101 566.896 61.7796L567 65.8661H539.93H512.859L512.929 66.3489C512.964 66.6075 513.033 67.5214 513.085 68.3835C513.294 71.7458 514.373 75.815 515.886 78.8152C519.053 85.0914 523.437 88.5399 530.065 89.9538C531.231 90.1952 532.257 90.2641 534.937 90.2469C537.894 90.2297 538.59 90.1779 540.347 89.7986C542.296 89.3675 545.514 88.2295 547.219 87.3674C549.655 86.1259 553.03 82.2809 555.431 78.022C555.9 77.1771 556.388 76.4874 556.492 76.5047C556.805 76.5736 565.208 82.1085 565.208 82.2464C565.208 82.5568 562.912 86.1259 561.816 87.5226C557.031 93.6092 550.768 97.7474 544.07 99.2819C540.417 100.127 535.25 100.489 531.805 100.179ZM555.9 56.6069C555.866 56.331 555.779 55.5379 555.726 54.8309C555.309 49.5202 552.717 43.6578 549.202 40.1576C546.488 37.4333 543.67 36.0711 539.251 35.3297C537.407 35.0193 536.659 34.9676 533.893 35.0538C529.335 35.1918 526.69 35.8642 523.576 37.7092C519.627 40.0197 515.747 45.4683 514.147 50.9514C513.712 52.4687 513.207 55.3999 513.19 56.5207V57.0724H534.589H555.987L555.9 56.6069Z" fill="white"/>
          <path d="M17.1538 51.2613L0 4.22391L9.58597 4.17218C14.84 4.15494 19.1893 4.17218 19.2241 4.20667C19.2589 4.24115 24.5477 19.2248 30.9674 37.5191C37.387 55.8133 42.6932 70.8487 42.7802 70.9349C42.8672 71.0211 42.989 71.0556 43.0412 70.9866C43.1108 70.9177 47.6863 57.5893 53.2187 41.3469C58.7684 25.1045 63.8833 10.0863 64.614 7.98276L65.9362 4.1377H75.4177C82.9334 4.1377 84.8819 4.18942 84.8297 4.36185C84.7949 4.4653 77.1575 25.6563 67.8847 51.4165L51.0266 98.2814H42.6584H34.2903L17.1538 51.2613Z" fill="white"/>
          <path d="M165.799 49.1924L165.851 0.0859375H174.985H184.118L184.171 49.1924L184.205 98.2817H174.985H165.764L165.799 49.1924Z" fill="white"/>
          <path d="M278.672 67.5039V36.7261H273.714H268.756V31.8982V27.0704H273.783H278.811L278.898 19.5354C278.968 12.1384 278.985 11.9487 279.42 10.1383C280.099 7.32776 281.003 5.58628 282.534 4.06894C284.013 2.62058 285.44 1.7757 287.632 1.06876C290.241 0.223877 291.651 0.10318 299.201 0.10318L306.073 0.0859375V5.00003V9.91413L299.81 10.0003C294.434 10.0866 293.443 10.1383 292.781 10.3969C291.042 11.0694 290.207 12.2074 289.789 14.4834C289.685 15.1213 289.546 18.1043 289.511 21.3459L289.424 27.0704H311.101H332.778V62.676V98.2817H327.298H321.818V67.5039V36.7261H305.725H289.632V67.5039V98.2817H284.152H278.672V67.5039Z" fill="white"/>
          <path d="M356.786 49.2266V0.171875H362.353H367.92V49.2266V98.2814H362.353H356.786V49.2266Z" fill="white"/>
          <path d="M391.929 62.6755V27.0698H397.409H402.89V62.6755V98.2811H397.409H391.929V62.6755Z" fill="white"/>
          <path d="M426.897 62.6752V27.0696H432.29H437.684V30.518C437.684 32.4147 437.718 33.9665 437.771 33.9665C437.84 33.9665 438.553 33.2596 439.371 32.3975C443.286 28.3282 450.123 25.4315 456.647 25.0694C460.161 24.8625 464.476 25.397 467.607 26.4143C472.009 27.8282 476.393 30.9836 479.176 34.7424C481.021 37.2081 482.586 40.7083 483.369 44.0534C484.1 47.226 484.135 48.4329 484.135 73.9345V98.2808H478.654H473.192L473.122 74.7104C473.07 53.1229 473.053 50.9676 472.774 49.3468C471.904 44.3292 470.095 40.7256 467.294 38.3978C466.041 37.346 463.571 36.1391 461.779 35.6735C459.952 35.2252 455.62 35.0356 453.254 35.3287C449.183 35.846 445.756 37.346 443.007 39.8462C441.041 41.6222 439.458 44.381 438.606 47.5018L438.136 49.2261L438.084 73.7621L438.014 98.2808H432.464H426.897V62.6752Z" fill="white"/>
          <path d="M320.947 6.29349V0H327.297H333.647V6.29349V12.587H327.297H320.947V6.29349Z" fill="white"/>
          <path d="M391.059 6.37916V0.171875H397.409H403.759V6.37916V12.5864H397.409H391.059V6.37916Z" fill="white"/>
        </svg>
      </div>

      <div class="banner-volufiline-image-text">
        <h3>coming winter 2025 to</h3>
        <div class="banner-volufiline-image-sephora">
          <img src="{{ 'sephora.png' | asset_url }}" width="402" height="52" alt="sephora" loading="lazy">
        </div>

        {% for block in section.blocks %}
          {% if block.type == 'product' and block.settings.product %}
            {% assign product = block.settings.product %}
            <a class="banner-volufiline-image-link button-dark" href="{{ product.url }}">BUY VOLUFILINE Now</a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
    
    <div class="banner-volufiline-image__image">
       <img
        src="{{ 'banner-only-image.jpg' | asset_url }}"
        width="1600"
        height="600"
        alt="volufiline banner"
        loading="lazy"
      > 
    </div>

    <div class="banner-volufiline-image__image--mobile">
      <img
        src="{{ 'banner-only-image-mobile.jpg' | asset_url }}"
        width="335"
        height="416"
        alt="volufiline banner"
        loading="lazy"
      > 
    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const wrapper = document.querySelector('.banner-volufiline-image__wrapper');
    const blur = document.querySelector('.banner-volufiline-image__blur');

    if (wrapper && blur) {
      wrapper.addEventListener('mouseenter', () => {
        blur.classList.add('show');
      });

      wrapper.addEventListener('mouseleave', () => {
        blur.classList.remove('show');
      });

      wrapper.addEventListener('mousemove', (e) => {
        const rect = wrapper.getBoundingClientRect();
        const x = e.clientX - rect.left;
        const y = e.clientY - rect.top;
        blur.style.transform = `translate(${x - 150}px, ${y - 150}px)`;
      });
    }
  });
</script>


{% schema %}
{
  "name": "Banner only image",
  "blocks": [
    {
      "type": "product",
      "name": "Product link",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select a product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Banner only image",
      "blocks": [
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}
 
